@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');


body {
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400; /* This is the regular weight */
}

.table1 {
    width: 600px;
    height: 150px;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    border-collapse: collapse;
}

.table1 td {
    border: none;
    padding: 0%;
}

#td1 {
    width: 25%;
    background-color: #9A7C58;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}

#td1 img {
    width: 85%; 
    border-radius: 90px 90px 90px 90px;
    
}

#td2 {
    width: 50%;
    background-color: rgba(12, 12, 12, 0.948);
}

.href {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font: 'Urbanist', sans-serif;
}

#td3 {
    background-color: rgba(12, 12, 12, 0.948);
    border-radius: 0px 20px 20px 0px;
    color: white;
    /* text-align: center; */
}

.table3 {
    height: 100%;
    width: 100%;
}

.table3 tr:first-of-type {
    height: 70%;
    text-align: center;
}
